<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enhlish hub</title>
        <link rel="stylesheet" href="eng.css">
        <link rel="stylesheet" href="common.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>

    <body>
        <!-- Home view -->
        <section class="header">
            <nav>
                <ul>
                    <div class="logo">
                        <img src="../imgs/englishhublogo.png" alt="logo">
                    </div>
                    <div class="file">
                        <li><a href="">home</a></li>
                        <li><a href="">preview</a></li>
                        <li><a href="">details</a></li>
                        <li><a href="">contact</a></li>
                        <li><a href="">login</a></li>
                    </div>
                </ul>
            </nav>
            <div class="homebody">
                <div class="righthomebody ">
                    <span class="hello">ENGLISH LEARNING</span>
                    <span class="hello">MOBILE APP FOR</span>
                    <span class="hello" id="levelfile">excellent</span>
                    <span class="hello">level</span>
                    <p>English hub is Nepal's #1 English learning mobile
                        application.
                    </p>
                    <p id="f1">Download it Today</p>
                    <div class="homebuttonfile">
                        <button class="letgo">hello</button>
                        <button class="letgo">hello</button>
                        <button class="letgo">hello</button>
                        <button class="letgo">hello</button>
                    </div>
                </div>
                <div class="lefthomebody m1 ">
                    <img src="../imgs/enghub.png" alt="">
                </div>
            </div>
        </section>
        <!-- previews -->
        <section class="preview">
            <h1 class="previewhead">Previews</h1>
            <div class="previewsbody">

                <img src="../imgs/video-frame.jpg" alt="videoframe">
            </div>
        </section>

        <!-- details -->
        <section class="details">
            <div class="detailsfile">
                <div class="detailfileimg">
                    <img src="../imgs/details-1-iphone.png" alt="">
                </div>
                <div class="detailfilelevel">
                    <h class="detailshead" id="detaillevel1">Level 1</h>
                    <div class="detailpagedetail">
                        <span class="detailpage">Basic grammar(20 videos)</span>
                        <span class="detailpage">Vocabulary(10 videos)</span>
                        <span class="detailpage">Speaking practice(16 hours)</span>
                    </div>
                    <div class="detailbuttomfile">
                        <button class="detailbuttom">Play store</button>
                        <button class="detailbuttom">Play store</button>
                    </div>
                </div>
            </div>
            <div class="detailsfile m2">

                <div class="detailfilelevel ">
                    <h class="detailshead" id="detaillevel1">Level 2</h>
                    <div class="detailpagedetail">
                        <span class="detailpage">Basic grammar(20 videos)</span>
                        <span class="detailpage">Vocabulary(10 videos)</span>
                        <span class="detailpage">Speaking practice(16 hours)</span>
                    </div>
                    <div class="detailbuttomfile">
                        <button class="detailbuttom">Play store</button>
                        <button class="detailbuttom">Play store</button>
                    </div>
                </div>
                <div class="detailfileimg ">
                    <img src="../imgs/details-2-iphone.png" alt="">
                </div>
            </div>
            <div class="detailsfile">
                <div class="detailfileimg">
                    <img src="../imgs/details-3-iphone.png" alt="">
                </div>
                <div class="detailfilelevel">
                    <h class="detailshead" id="detaillevel1">Level 3</h>
                    <div class="detailpagedetail">
                        <span class="detailpage">Basic grammar(20 videos)</span>
                        <span class="detailpage">Vocabulary(10 videos)</span>
                        <span class="detailpage">Speaking practice(16 hours)</span>
                    </div>
                    <div class="detailbuttomfile">
                        <button class="detailbuttom">Play store</button>
                        <button class="detailbuttom">Play store</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- reviews -->
        <div class="reviews">

        </div>

    </body>

</html>